.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
venv/
.env

data/normalized/*
data/runs/*
data/indexes/*
data/eval/*.out.*

!data/normalized/.gitkeep
!data/runs/.gitkeep
!data/indexes/.gitkeep
